#scrollToTopBtn {
  position: fixed; /* Fixed position */
  bottom: 20px; /* Place it at the bottom */
  right: 30px; /* Place it 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Set a text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  text-align: center;
  text-decoration: none; /* Remove underline */
}

#scrollToTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* ----------------------------------- */
/* ---------Global Roles ------------- */
/* ----------------------------------- */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --main-color: #10cab7;
  --head-color: #ebeced;
}
html {
  scroll-behavior: smooth;
}

/* ---------End Global Roles ------------- */
/* --------------------------------------- */

/* ----------------------------------- */
/* ---------Start Componrnts---------- */
/* ----------------------------------- */
.special-heading {
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  color: var(--head-color);
  letter-spacing: -3px;
  padding: 0;
  margin: 0;
}
.special-heading + p {
  text-align: center;
  color: #575757;
  margin-top: -24px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 50px;
  }
  .special-heading + p {
    font-size: 11px;
    margin-top: -15px;
  }
}
/* ---------Start Componrnts---------- */
/* ----------------------------------- */

/* ----------------------------------- */
/* ---------Start Header ------------- */
/* ----------------------------------- */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header .container .links .icon {
  width: 40px;
  /* height: 30px; */
  /*position: relative;
    */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.header .container .links .icon > span {
  margin: 4px 0;
  height: 2px;
  background-color: #111;
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.header .container .links .icon > span:nth-child(2) {
  width: 60%;
}
/* لاحظ اني عملت هوفر علي كلاس اللينكات كلو ال بيحتوي علي اللينكات والايقون علشان لما اقف علي اللينكات القايمه متتخفيش */
.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .container .links {
  position: relative;
  /* padding-top: 10px; */
}
.header .container .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: calc(100% + 15px);
  /* left: -145px; */
  right: 0;
  background-color: #eee;
  padding: 0 8px;
  min-width: 180px;
}
.header .container .links ul::before {
  content: "";
  position: absolute;
  top: -26px;
  right: 7px;
  border-style: solid;
  border-width: 13px;
  border-color: transparent transparent #eee transparent;
}

.header .container .links ul li:hover a {
  color: blue;
  padding-left: 20px;
}
.header ul li:not(:last-child) a {
  border-bottom: 1px #ddd solid;
}

.header .container .links ul li a {
  text-decoration: none;
  color: #222;
  padding: 15px;
  font-size: 20px;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .container .links:hover ul {
  display: block;
}
.header .container .links ul li {
  position: relative;
}
/* ---------Start Header ------------- */
/* ----------------------------------- */

/* ----------------------------------- */
/* ---------Start Landing ------------ */
/* ----------------------------------- */
.landing {
  background-image: url("../images/image\ copy\ 3.png");
  height: calc(100vh - 90px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing h2 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: var(--main-color);
}
.landing p {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-size: 19px;
  color: #222;
}
.intro-text {
  color: white;
  font-size: 20px;
  margin-right: 50px;
  padding: 20px;
  padding-left: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .landing h2 {
    font-size: 30px;
  }
  .landing p {
    font-size: 15px;
  }
}
/* ---------Start Landing ------------ */
/* ----------------------------------- */

/* ----------------------------------- */
/* ---------Start feature------------- */
/* ----------------------------------- */
.feature {
  background-color: #f6f6f6;
  padding: 60px 0;
}
.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  justify-content: space-evenly;
  gap: 10px;
}
.feature .feat {
  width: 100%;
  /*min-height: 400px;
    background-color: white;*/
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  /*background-color: #eee;
    */
  box-sizing: border-box;
  padding: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.feature .container i {
  font-size: 50px;
  color: var(--main-color);
}
.feature .container .feat h2 {
  margin: 30px 0;
  padding: 0;
  font-weight: 800;
}
.feature .container .feat p {
  line-height: 2;
  color: var(--main-color);
}
/* ---------end feature------------ */
/* ----------------------------------- */

/* ----------------------------------- */
/* ---------Start Services------------ */
/* ----------------------------------- */
.services {
  padding: 60px 0;
}
.service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 60px;
}
.services .srv {
  display: flex;
  justify-content: space-between;
}
.services .srv i {
  font-size: 30px;
  color: var(--main-color);
  margin-right: 30px;
}
.services .srv .text h3 {
  margin: 0;
  margin-bottom: 25px;
}
.services .srv .text {
  line-height: 1.8;
  flex: 1;
}
.services .service-content .col > div {
  margin-bottom: 20px;
}
.services .service-content .special-image {
  width: 200px;
  height: 85%;
  background-color: #ddd;
  align-self: center;
  position: relative;
  background-image: url("../images/image\ copy.png");
  background-size: cover;
}
.services .service-content .special-image::after {
  content: "";
  position: absolute;
  top: -15%;
  right: -30%;
  background-color: gray;
  width: 80%;
  height: calc(100% + 30%);
  z-index: -1;
}
@media (max-width: 767px) {
  .services .srv {
    text-align: center;
    flex-direction: column;
    /* padding: 0 20px; */
  }
  .services .srv .text h3 {
    margin-bottom: -17px;
  }
  .services .srv i {
    margin-right: 0;
  }
  .services .service-content .special-image {
    display: none;
  }
  .services .srv {
    padding: 0 30px;
  }
}
/* ---------Start Services------------ */
/* ----------------------------------- */

/* ----------------------------------- */
/* ---------Start portfolio----------- */
/* ----------------------------------- */
.portfolio {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #ddd;
}
.portfolio .port {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-top: 40px;
}
.portfolio .port .project img {
  width: 100%;
  height: 225px;
}
.portfolio .port .project .text {
  padding: 20px;
}
.portfolio .port .project .text h3 {
  margin: 0;
}
.portfolio .port .project {
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* ---------Start portfolio----------- */
/* ----------------------------------- */

/* ----------------------------------- */
/* ---------Start About me ----------- */
/* ----------------------------------- */
.about {
  padding-bottom: 60px;
  padding-top: 60px;
}
.about .about-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }
  .about .about-content .image {
    margin: 30px auto;
  }
  .about .about-content .info {
    margin: 0 auto;
  }
  .about .about-content .info hr {
    margin-right: 50px;
  }
}
.about .about-content .image {
  width: 30%;
  height: 250px;
  background-color: #ddd;
  position: relative;
  background-image: url("../images/image\ copy.png");
}
.about .about-content .image::before {
  content: "";
  height: calc(50% + 100px);
  width: calc(30%);
  right: -10%;
  top: -70px;
  background-color: gray;
  position: absolute;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  background-color: gray;
  width: 70%;
  height: 30%;
  top: 50%;
  left: calc(100% - 80px);
  position: absolute;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .info {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.about .about-content .info p:first-child {
  margin: 0;
  font-weight: 800;
  line-height: 1.4;
}
.about .about-content .info p:last-child {
  line-height: 1.6;
}
hr {
  height: 1px;
  background-color: red;
  width: 50%;
  margin-top: 50px;
  align-self: flex-start;
  text-align: start;
  margin-right: 50%;
}
/* ---------end   About me ----------- */
/* ----------------------------------- */

/* ----------------------------------- */
/* ---------Start Contact ------------ */
/* ----------------------------------- */

.contact {
  margin-top: 60px;
  /* margin-bottom: 60px; */
  background-color: #ddd;
}
.contact .contact-content {
  padding: 0 20px;
}
.contact .contact-content h1 {
  color: var(--main-color);
}
.contact .contact-content h1 span {
  color: blueviolet;
  text-indent: 40px;
}
.contact .contact-content .tail ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.contact .contact-content .tail ul {
  align-self: center;
  margin-left: 20px;
}
.contact .contact-content .tail {
  display: flex;
  /* justify-content: space-between; */
}
.contact .contact-content .tail i {
  margin: 0 5px;
  color: var(--main-color);
  font-size: 20px;
}
@media (max-width: 767px) {
  .contact .contact-content h1 span {
    font-size: 25px;
  }
  .contact .contact-content h1 {
    font-size: 27px;
  }
}
/* ---------end Contact    ----------- */
/* ----------------------------------- */

/* ----------------------------------- */
/* ---------Start foowter ------------ */
/* ----------------------------------- */
.footer {
  background-color: #575757;
  margin: 0;
  padding: 40px;
}
.footer p {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  /* letter-spacing: -2px; */
}
.footer p span {
  color: var(--main-color);
}
